# Sample secrets.yaml

# To use the sample file copy it to secrets.yaml
#
# To use Home Assistant secret.yaml in parent directory
# add a new sample.yaml with the following content:
#
# <<: !include ../secrets.yaml

# Common secrets
esp_api_password: password
esp_ota_password: password
wifi_domain: '.local'
wifi_ssid: 'ssid'
wifi_password: password

# Extra secrets
miband_mac_address: 00:00:00:00:00:00

# Device secrets
esp_diy_hue_01_device_id: diy_hue_01
esp_diy_hue_01_device_name: 'DIY Hue 01'
esp_gosund_sp111_01_device_id: gosund_sp111_01
esp_gosund_sp111_01_device_name: "Gosund SP111 01"
esp_koogeek_kloe4_01_device_id: koogeek_kloe4_01
esp_koogeek_kloe4_01_device_name: "Koogeek KLOE4 01"
esp_room_sensor_01_device_id: room_sensor_01
esp_room_sensor_01_device_name: "Room Sensor 01"
esp_shelly_1_light_01_device_id: shelly_1_light_01
esp_shelly_1_light_01_device_name: "Shelly 1 Light 01"
esp_shelly_1pm_01_device_id: shelly_1pm_01
esp_shelly_1pm_01_device_name: "Shelly 1PM 01"
esp_shelly_2_5_light_01_device_id: shelly_2_5_01
esp_shelly_2_5_light_01_device_name: "Shelly 2.5 01"
esp_sonoff_basic_01_device_id: sonoff_basic_01
esp_sonoff_basic_01_device_name: "Sonoff Basic 01"
esp_sonoff_s20_01_device_id: sonoff_s20_01
esp_sonoff_s20_01_device_name: "Sonoff S20 01"
esp_tuya_qs_d02_01_device_id: tuya_qs_d02_01
esp_tuya_qs_d02_01_device_name: 'Tuya QS-D02 01'
esp_ventilation_device_id: ventilation
esp_ventilation_device_name: 'Ventilation'
