# Sample secrets.yaml

# To use the sample file copy it to secrets.yaml
#
# To use Home Assistant secret.yaml in parent directory
# add a new sample.yaml with the following content:
#
# <<: !include ../secrets.yaml
