# Sample secrets.yaml

# To use the sample file copy it to secrets.yaml
#
# To use Home Assistant secret.yaml in parent directory
# add a new sample.yaml with the following content:
#
# <<: !include ../secrets.yaml

# Common secrets
esp_api_password: password
esp_ota_password: password
wifi_domain: '.local'
wifi_ssid: 'ssid'
wifi_password: password

# Device secrets
esp_diy_hue_01_device_id: diy_hue_01
esp_diy_hue_01_device_name: 'DIY Hue 01'
esp_gosund_sp111_01_device_id: gosund_sp111_01
esp_gosund_sp111_01_device_name: "Gosund SP111 01"
esp_koogeek_kloe4_01_device_id: koogeek_kloe4_01
esp_koogeek_kloe4_01_device_name: "Koogeek KLOE4 01"
esp_sonoff_basic_01_device_id: sonoff_basic_01
esp_sonoff_basic_01_device_name: "Sonoff Basic 01"
esp_sonoff_s20_01_device_id: sonoff_s20_01
esp_sonoff_s20_01_device_name: "Sonoff S20 01"
esp_ventilation_device_id: ventilation
esp_ventilation_device_name: 'Ventilation'
